doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')    
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/navBar.css')
    

    title Mis mascotas

  body

    header
      .navbar
        //button.active(href='#')  #{usuario.userName}
        form(action="/listaMascotas", method="post") 
          input(type="hidden" value=usuario.idUsuario, name="IdUsuario")  
          input.form-control(type='hidden', value=token, name="token")         
          button.active(href='')  Mis Mascotas
        //button(href='#')  Conocenos
        form(action="/VPF/miPerfil", method="post") 
          input(type="hidden" value=usuario.idUsuario, name="IdUsuario") 
          input.form-control(type='hidden', value=token, name="token")
          button()  Mi perfil
        form()
          button(onClick='logOut()')  LogOut
    section#app.hero.is-link.is-fullheight        
      //label #{token}
      .hero-body       
        form(action='/VPF/nuevaMascota' method='POST' )
          input.form-control(type='hidden', value=usuario.idUsuario, name="IdUsuario")
          input.form-control( type='hidden', value=token, name="token")          
          button(class="btnAgrgar btn nuevo" type='submit') Agregar mascota   
        
        table
            caption Mis mascotas
            thead
                tr
                  th(scope='col') Id Mascota
                  th(scope='col') Nombre mascota
                  th(scope='col') Tipo
                  th(scope='col') Edad años
                  th(scope='col') Accioones
                  //th(scope='col') 
            tbody
            each mascota in usuario.mascotas
              tr 
                td(data-label='Id Mascota')= mascota.idMascota
                td(data-label='Nombre')= mascota.nombreMascota
                td(data-label='Tipo')= mascota.tipo
                td(data-label='Edad años')= mascota.edad
                td(data-label='Acciones')                          
                  form(action="verUnaMascota" method='POST') 
                    input(type="hidden", value=mascota.idMascota, name='IdMascota')
                    input(type="hidden", value=usuario.idUsuario, name='IdUsuario')
                    input(type="hidden", value=token, name='token')
                    button(class="btn info") Ver mascota
                   
                      
                  s
    
    script(type='text/javascript' src='/javascripts/main.js')