doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Datos mascota
    //link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/genericoUnoSolo.css')
    link(rel='stylesheet' href='/stylesheets/navBar.css')
  body
    header
    .navbar
      //button.active(href='#')  #{usuario.userName}
      form(action="/VPF/listaMascotas", method="post") 
        input(type="hidden" value=IdUsuario, name="IdUsuario") 
        input.form-control(id = "lblToken" type='hidden', value=token, name="token")         
        button.active(href='#')  Mis Mascotas
      //button(href='#')  Conocenos
      form(action="/VPF/miPerfil", method="post") 
        input(type="hidden" value=IdUsuario, name="IdUsuario") 
        input(type="hidden" value=token, name="token") 
        button()  Mi perfil
      form
        button(onClick='logOut()')  LogOut
  .padre
    .contenedor_form
      form(action='/VPF/guardarMascota' method='POST')
        input(type='hidden', value=mascota.idMascota, name="IdMascota")
        input(type='hidden', value=IdUsuario, name="IdUsuario")
        input(type='hidden', value=token, name="token")        
        h2 Datos de la Mascota
        if respuesta == true
          h3 Mascota eliminada
        .form-group
          label(for='') Nombre mascota
          br
          input.form-control(required ,type='text', value=mascota.nombreMascota, name="nombreMascota")
        .form-group
          label(for='') Tipo
          br
          input.form-control(required, type='text', value=mascota.tipo, name="tipoMascota")
        .form-group
          label(for='') edad
          br
          input.form-control(required, type='number', value=mascota.edad, name="edadMascota")
        .form-group
          label(for='') Descripcion
          br
          input.form-control(type='text')
        button(class="btn guardar",type='submit') Guardar
      form(action='/VPF/nuevaMascota' method='POST')
        input.form-control(type='hidden', value=IdUsuario, name="IdUsuario")
        input(type='hidden', value=token, name="token")       
        button(class="btn nuevo",type='submit') Nuevo
      form(action='/VPF/eliminarMascota' method='POST')
        input.form-control(type='hidden', value=IdUsuario, name="IdUsuario")
        input.form-control(type='hidden', value=mascota.idMascota, name="IdMascota")
        input(type='hidden', value=token, name="token")        
        button(class="btn eliminar",type='submit') Eliminar
      form(action='/VPF/listaCitasMascotas' method='POST') 
        button(class="btn info",type='submit') Ver citas
      form(action='/VPF/listaMascotas' method='POST') 
        input.form-control(type='hidden', value=IdUsuario, name="IdUsuario")
        input(type='hidden', value=token, name="token")      
        button(class="btn cancelar",type='submit') Cancelar        
      
    script(type='text/javascript' src='/javascripts/main.js')